body{
  background-color: rgba(220, 220, 220, 0.171);
  font-family: Montserrat;
}

.filtre{
  background: #FFFFFF;
  box-shadow: 0px 5px 12px rgba(183, 183, 183, 0.25);
  border-radius: 6px;
  height: 126px;
}

.cursuri{
  background: #FDFDFD;
/* Card Shadow 1 */
margin-top: -688px;
box-shadow: 0px 5px 12px rgba(183, 183, 183, 0.25);
border-radius: 6px;
width: 950px;
height: 688px;
}

.title-ultimele-cursuri{
  font-weight: 600;
font-size: 20px;
line-height: 22px;
}

.separator{
background-color: #E4E8EE;
width:1px;
height: 80%;
}

.profile-title{
  font-weight: 500;
font-size: 14px;
line-height: 22px;
}

.profile-text{
  margin-top: -20px;
  font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #505161;
}

.inscriere{
  color: #FFFFFF;
  background: #008053;
box-shadow: 0px 2px 5px rgba(0, 128, 83, 0.185);
border-radius: 4px;
width: 95px;
height: 40px;
border: none;
}

.nume-lectii{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
}

.numar-lectii{
  margin-top: -15px;
  font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #505161;
}

.lectii-button{
  width: 32px;
  height: 32px;  
  background: rgba(199, 229, 50, 0.3);
  border-radius: 4px;
}

.lectii-button:hover{
  background: rgba(199, 229, 50, 0.432);
}

.lectii-button-2{
  width: 32px;
  height: 32px;  
  background: rgba(229, 146, 177, 0.3);
  border-radius: 4px;
}

.lectii-button-2:hover{
  background: rgba(229, 146, 176, 0.432);
}

.lectii-button-3{
  width: 32px;
  height: 32px;  
  background: rgba(171, 147, 226, 0.3);
  border-radius: 4px;
}

.lectii-button-3:hover{
  background: rgba(171, 147, 226, 0.432);
}

.lectii-button-4{
  width: 32px;
  height: 32px;  
  background: rgba(199, 229, 50, 0.3);
  border-radius: 4px;
}

.lectii-button-4:hover{
  background: rgba(199, 229, 50, 0.432);
}

.button-style{
  border: none;
  background: transparent;
}

.inscriere:hover{
  background: #029c66;
}

.nota {
  color: #505161;
}

.star{
  height: 20px;
}

.cursuri-title{
  font-weight: 600;
font-size: 20px;
line-height: 22px;
}

.calendar{
  height: 320px;
}

.ultimele-cursuri-container{
  height: 495px;
}

.ultimele-cursuri{
/* White */

background: #FDFDFD;
/* Gray/10 */

border: 1px solid #E4E8EE;
box-sizing: border-box;
box-shadow: 0px 5px 4px rgba(242, 242, 242, 0.5);
border-radius: 6px;
height: 82px;
}

.cursuri-text{
  font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #505161;
}

.element-curs{
  background: #FDFDFD;
/* Gray/10 */
border: 0.5px solid #E4E8EE;
box-sizing: border-box;
box-shadow: 0px 5px 4px rgba(185, 185, 195, 0.2);
border-radius: 6px;
height: 197px;
}

.image-style-rec{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/rec.png), #C4C4C4;
border-radius: 8px;
width: 300px;
height: 157px;
}

.image-style-laptop{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/laptop.png), #C4C4C4;
border-radius: 8px;
width: 300px;
height: 157px;
}

.image-style-humans{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/humans.png), #C4C4C4;
border-radius: 8px;
width: 300px;
height: 157px;
}

.title{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

.sort{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.select-button{
  position: static;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 105%;
  height: 48px;
  margin-top: -15px; 
  margin-left: -5px;
  border: none;
  outline: none;
  background-color: transparent;
  /* appearance:none; */
}


.select-style{
  background: #FFFFFF;
  border: 1px solid #E4E8EE;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  margin-top: -5px;
}

.sup{
  color: #9A9FA7;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
